.responsive-mobile-scores {
    @media (max-width: 576px){
        display: block;
    }
    @media (min-width: 576px){
        display: none;
    }
}
.responsive-non-mobile-scores {
    @media (max-width: 576px){
        display: none;
    }
    @media (min-width: 576px){
        display: block;
    }
}
