<div class="row">
    <div class="col-sm-2 col-4  text-center">
        Score
    </div>
    <div class="col-sm-2 responsive-non-mobile-scores">
        - 2
    </div>
    <div class="col-sm-2 col-4  text-center">
        Gold
    </div>
    <div class="col-sm-2 responsive-non-mobile-scores">
        - 5
    </div>
    <div class="col-sm-2 col-4   text-center">
        Badge
    </div>
    <div class="col-sm-2 responsive-non-mobile-scores">
        - 6
    </div>

    <div class="col-4  responsive-mobile-scores text-center">
        - 1
    </div>
    <div class="col-4  responsive-mobile-scores text-center">
        - 5
    </div>
    <div class="col-4  responsive-mobile-scores text-center">
        - 7
    </div>

</div>