<div class="col col-12 bd-callout-info">
    <div class="bd-callout">
        <div class="row" (click)="switchState()">
            <span id="mobile-view" class="responsive-mobile">
                <div class="col-12" *ngIf="!switch">
                    <h4 id="dealing-with-specificity">Dealing with specificity</h4>
                    <p>Sometimes contextual classes cannot be applied due to the specificity of another selector. In some cases, a sufficient workaround is to wrap your element’s content in a <code class="highlighter-rouge">&lt;div&gt;</code> with the class.</p>
                </div>
                <div class="col-12">
                    <div class="myblock mx-auto" *ngIf="switch"></div>
                </div>
            </span>
            <span id="non-mobile-view" class="responsive-non-mobile">
                <div class="col-6">
                    <h4 id="dealing-with-specificity">Dealing with specificity</h4>
                    <p>Sometimes contextual classes cannot be applied due to the specificity of another selector. In some cases, a sufficient workaround is to wrap your element’s content in a <code class="highlighter-rouge">&lt;div&gt;</code> with the class.</p>
                </div>
                <div class="col-6">
                    <div class="myblock mx-auto"></div>
                </div>
            </span>
        </div>
    </div>
</div>
<div class="col col-12 shadow-none p-3 mb-5 bg-light rounded">
    <div class="row container p-2">
        <div class="col-6">
            <div class="row p-2">
                <div class="col">
                    <a class="btn btn-danger">Change To State 2</a>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <a class="btn btn-danger">Change To State 2</a>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <a class="btn btn-danger">Change To State 2</a>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <a class="btn btn-danger">Change To State 2</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="shadow-none p-3 mb-5 bg-dark text-white rounded">
                jkhkjahsdfkjhasdlfjkhasdf
            </div>
        </div>
    </div>
</div>