<div class="col-12 bd-callout-info">
    <div class="bd-callout">
        <div class="row centered-mobile-view " (click)="switchState()">
            <span id="mobile-view" class="responsive-mobile" style="width: 100%;">
            <div class="col-12" style="height:201px" >
                <div *ngIf="!switch">
                    <p>{{Questions.text}}</p>
                </div>
                <img class="myblock mx-auto" *ngIf="switch" [src]="Questions.image"/>
            </div>
        </span>
            <span id="non-mobile-view " class="responsive-non-mobile">
            <div class="col-8">
                <p>{{Questions.text}}</p>
            </div>
            <div class="col-4">
                <img class="myblock mx-auto" [src]="Questions.image"/>
            </div>
        </span>
        </div>
    </div>
</div>